name: ubuntu

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Setup alr
      uses: alire-project/setup-alire@v2

    - name: Build
      run: cd boxed ; alr build ; bin/boxed
      
    - name: Publish
      uses: actions/upload-artifact@v3
      with:
          name: "artifacts"
          path: |
            boxed/bin/boxed
